<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Xamarin.Forms" version="4.0.0.425677"  />

    <package id="Xamarin.Essentials" version="1.0.0" />
    <package id="FSharp.Core" version="4.5.2" />
    <package id="Fabulous.Core" version="0.35.0" />
    <package id="Fabulous.CustomControls" version="0.35.0" />
    <package id="Newtonsoft.Json" version="11.0.2" />
</packages>